body {
    background-color: #f5f5f5;
}
#app-content {
    height: auto;
    padding: 76px 20px 20px;
}

#value-to-pay{
    text-align: center;
}

.mdl-button{
    letter-spacing: 1px;
}


#section-paiement #return-home {
    margin-top: 10px;
}

#section-paiement #description-message {
    font-size: 15px;
    margin-top: 10px;
    line-height: 20px;
}

