<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <!--throwExceptions="true"  internalLogFile="C:\Users\benoit.closset\Desktop\log.txt" internalLogLevel="Trace"-->


  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets async="true">
    <target name="file" xsi:type="File" fileName="${basedir}/Logs/TripatLux_${shortdate}.log" layout="${date} ${level}: ${message} ${exception:format=tostring}" />
    <target name="debugger" xsi:type="Debugger" layout="${date} ${level}: ${message} ${exception:format=tostring}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="debugger" />
  </rules>
</nlog>
